<app-slider
	[nombre]="'Películas'"
	[size]="'small'"
></app-slider>
<div class="center">
	<section id="content">
		<div id="favorita" *ngIf="favorita">
			<h2 class="subheader">
				Pelicula favorita
			</h2>
			<h4>
				{{ favorita.title | uppercase}}
			</h4>
			<h4>{{ favorita.year | espar }}</h4>
			<h5>{{ fecha | date: 'fullDate' }}</h5>
		</div>
		<h1 class="subheader">Peliculas</h1>
		<!-- 
		<button (click)="cambiarTitulo()">Pulsame</button>
		<hr/>
		<h2>Mostrar Primera Pelicula</h2>
		{{peliculas[0].title}}
		<hr>
		<div *ngIf="peliculas.length <= 3">
			Hay pocas peliculas
		</div>
		<div *ngIf="peliculas.length > 3">
			Hay muchas peliculas
		</div>
		<hr> -->
		<h2 class="subheader">Listado de peliculas</h2>
		<div id="articles" *ngIf="peliculas">
			<div  *ngFor="let pelicula of peliculas; let i = index;">
			<app-pelicula
				[pelicula]='pelicula'
				(MarcarFavorita)="mostrarFavorita($event)"
			></app-pelicula>
		</div>		
	</div>
</section>
<app-sidebar></app-sidebar>
</div>