<app-slider
	[nombre]="'Bienvenido al Curso de Angular con Víctor Robles de victorroblesweb.es'"
	[size]="'big'"
></app-slider>
<div class="center">
	<section id="content">
		<h2 class="subheader">{{ title }}</h2>
		
		<app-articles
		[articles]="articles"
		></app-articles>

	</section>
<app-sidebar></app-sidebar>
</div>
