<app-slider
	[nombre]="'Página'"
	[size]="'small'"
></app-slider>
<div class="center">
	<section id="content">
		<h1 class="subheader">Pagina de Pruebas</h1>
		<div *ngIf="nombre; then siHayParametros else noHayParametros">
			
		</div>
		<ng-template #siHayParametros>
		<h2>{{ nombre }}</h2>
		</ng-template>
		<ng-template #noHayParametros>
		<h2>No hay parametros por la url</h2>
		</ng-template>
		<button (click)="redireccion()">Redireccion</button>
	</section>
<app-sidebar></app-sidebar>
</div>