<app-slider
	[nombre]="'Formulario'"
	[size]="'small'"
></app-slider>
<div class="center">
	<section id="content">
		<h1 class="subheader">Formulario</h1>
		
		<form class="mid-form" #userForm="ngForm" (ngSubmit)="onSubmit()">
			<div class="form-group">
				<label for="nombre">Nombre</label>
				<input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="user.nombre" required  pattern="[a-zA-Z]+"/>

				<small *ngIf="!nombre.valid && nombre.touched">
					El nombre no es válido
				</small>
			</div>
			<div class="form-group">
				<label for="apellidos">Apellidos</label>
				<input type="text" name="apellidos" #apellidos="ngModel" [(ngModel)]="user.apellidos" required />

				<small *ngIf="!apellidos.valid && apellidos.touched">
					Los apellidos no es válido
				</small>
			</div>
			<div class="form-group">
				<label for="bio">Biografia</label>
				<textarea name="bio" #bio="ngModel" [(ngModel)]="user.bio"></textarea>
				<small *ngIf="!bio.valid && bio.touched">
					La biografia no es válida
				</small>
			</div>
			<div class="form-group radibuttons">
				<input type="radio" name="genero" value="hombre" #genero="ngModel" [(ngModel)]="user.genero" /> Hombre
				<input type="radio" name="genero" value="mujer" #genero="ngModel" [(ngModel)]="user.genero" /> Mujer
				<input type="radio" name="genero" value="otro" #genero="ngModel" [(ngModel)]="user.genero" /> Otro

				<small *ngIf="!genero.valid && genero.touched">
					El genero no es válido
				</small>
			</div>
			<div class="clearfix"></div>
			<input type="submit" value="Enviar" class="btn btn-success" [disabled]="userForm.invalid" />
		</form>
	</section>
<app-sidebar></app-sidebar>
</div>